### NOTA: Para un mejor seguimiento de esta clase, es recomendable abrirla desde Colab, siguiendo el botón de abajo

<a href="https://colab.research.google.com/github/martinezarraigadamaria/IntroduccionProgramacionPythonFCEUNC/blob/master/clases/IntroProgPython_clase5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 5

---
> Utilización de librerías para Data Science: numpy, pandas.

> Elementos gráficos: matplotlib y seaborn.

# Manipulando Datos con Pandas

<img align="middle" src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg" alt="crispdm" width="300"/>

El conjunto de datos utilizado contiene información de referencia y de rendimiento de préstamos para 5,960 préstamos. El objetivo (BAD) es una variable binaria que indica si un solicitante finalmente incurrió en incumplimiento o en grave mora en alguna entidad bancaria. Y por muestreo rápido. 

Los datos son los siguientes:

- BAD: 1 = candidato con préstamo incumplido o con mora; 0 = candidato que paga su deuda y no tiene registro negativo

- LOAN: Monto de solicitud de préstamo

- MORTDUE: Monto adeudado de la hipoteca existente

- VALUE: Valor actual del bien o propiedad

- REASON: DebtCon = consolidación de la deuda; HomeImp = mejoras para el hogar

- JOB: Categorias ocupacionales o profesionales

- YOJ: Años en su trabajo actual

- DEROG: Número de informes derogados o cancelados importantes

- DELINQ: Número de lineas de crédito morosas

- CLAGE: Antiguedad de la linea de crédito más antigua en meses

- NINQ: Número de consultas crediticas recientes

- CLNO: Número de líneas de crédito

- DEBTINC: -

Antes que nada, lo primero que tenemos que hacer para poder utilizar Pandas es importar la librería en nuestro código.

In [1]:
# Importaciones pertinentes 
import pandas as pd

## Lectura de Datos

Vamos a traer los datos que necesitamos para trabajar, mediante la lectura del archivo CSV:

* hmeq


Para ello podemos utilizar la función [**`read_csv()`**](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). 
Veamos qué resulta:

In [2]:
# Cargar un archivo
url = "https://raw.githubusercontent.com/martinezarraigadamaria/IntroduccionProgramacionPythonFCEUNC/master/datos/hmeq.csv"
df = pd.read_csv(url)

In [3]:
df

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

## Exploración de **`DataFrames`**

In [4]:
# Ver primeras filas (por defecto mostrará las primeras 5 filas, usando .head(n) veremos las primeras n filas)
df.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

In [5]:
# Ver últimas filas
df.tail()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,36.112347
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,35.859971
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,35.556590
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,34.340882
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,34.571519

In [6]:
# Obtener una muestra aleatoria
df.sample(5)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
1173,0,10000,10000.0,68250.0,DebtCon,ProfExe,20.0,0.0,2.0,398.800000,1.0,12.0,NaN
2594,1,15000,73500.0,105000.0,DebtCon,Other,1.0,0.0,2.0,205.933333,2.0,25.0,NaN
67,0,3600,100693.0,114743.0,HomeImp,Office,6.0,0.0,0.0,88.470452,0.0,14.0,29.393543
5089,0,27200,61000.0,104044.0,DebtCon,Other,16.0,0.0,1.0,141.981234,0.0,30.0,39.546508
3466,0,18300,63351.0,87645.0,DebtCon,Other,1.0,0.0,0.0,324.614647,3.0,15.0,43.902303

In [7]:
# Obtener una muestra aleatoria con una semilla fija
df.sample(5, random_state=123)

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,DEBTINC
4302,0,22400,62354.0,88287.0,DebtCon,Office,3.0,NaN,NaN,163.056409,NaN,16.0,37.171396
1189,1,10000,65000.0,80000.0,DebtCon,Other,2.0,0.0,0.0,26.366667,3.0,2.0,NaN
2713,0,15400,100848.0,129454.0,HomeImp,ProfExe,10.0,0.0,0.0,174.896519,2.0,31.0,28.065591
815,0,8600,38646.0,54073.0,DebtCon,Other,14.0,0.0,0.0,89.555853,0.0,11.0,32.530257
5153,0,27700,73148.0,101462.0,DebtCon,ProfExe,10.0,0.0,0.0,264.605389,0.0,33.0,40.475793

In [8]:
# ¿Qué tipo de objeto es?
print('Mis datos:',type(df))

Mis datos: <class 'pandas.core.frame.DataFrame'>

En el caso de Pandas tenemos que cada columna de un **DataFrame** tendrá un tipo asociado.

In [9]:
# ¿Qué contiene este objeto?
df.dtypes

BAD          int64
LOAN         int64
MORTDUE    float64
VALUE      float64
REASON      object
JOB         object
YOJ        float64
DEROG      float64
DELINQ     float64
CLAGE      float64
NINQ       float64
CLNO       float64
DEBTINC    float64
dtype: object

Al tipo de dato **`object`** lo podemos interpretar como un string.

Una propiedad muy importante de los **DataFrames** es que están compuestos por filas y columnas, como una tabla de doble entrada. Estos elementos constituyen ***atributos*** de los mismos y se denominan ***índice*** y ***columnas***.

In [10]:
print(df.index)

RangeIndex(start=0, stop=5960, step=1)

## Selección de Columnas de un **`DataFrame`**

In [11]:
print(df.columns)

Index(['BAD', 'LOAN', 'MORTDUE', 'VALUE', 'REASON', 'JOB', 'YOJ', 'DEROG',
       'DELINQ', 'CLAGE', 'NINQ', 'CLNO', 'DEBTINC'],
      dtype='object')

Para seleccionar una columna, lo que hacemos es utilizar un par de **`[]`** luego del nombre del DataFrame y dentro de estos le pasamos entre comillas (dobles o simples) el nombre de la columna indicada. Por ejemplo:

In [12]:
# Seleccionar columnas por nombre
df['JOB']

0        Other
1        Other
2        Other
3          NaN
4       Office
         ...
5955     Other
5956     Other
5957     Other
5958     Other
5959     Other
Name: JOB, Length: 5960, dtype: object

In [13]:
# Seleccionar columnas por indice
df[df.columns[1]]

0        1100
1        1300
2        1500
3        1500
4        1700
        ...
5955    88900
5956    89000
5957    89200
5958    89800
5959    89900
Name: LOAN, Length: 5960, dtype: int64

## Selección de Filas de un **`DataFrame`**

Veamos cómo podemos hacer para filtrar filas en un DataFrame.

In [14]:
# Seleccionar filas por índice
df.iloc[0]

BAD              1
LOAN          1100
MORTDUE      25860
VALUE        39025
REASON     HomeImp
JOB          Other
YOJ           10.5
DEROG            0
DELINQ           0
CLAGE      94.3667
NINQ             1
CLNO             9
DEBTINC        NaN
Name: 0, dtype: object

In [15]:
# Seleccionar filas por condición
nombre_columna = "BAD"
condicion = 0
df[nombre_columna]==condicion

0       False
1       False
2       False
3       False
4        True
        ...
5955     True
5956     True
5957     True
5958     True
5959     True
Name: BAD, Length: 5960, dtype: bool

La comparación anterior nos devuelve una columna llena de valores ***booleanos***. Sabemos que como tipo **`int`**, **`False`** representa el **`0`** y **`True`** el **`1`**. ¿Podremos hacer la suma a lo largo del ***índice*** de esta ***serie***?

En Pandas, existe el método **`.sum()`**, que puede aplicarse a DataFrames y Series.

In [16]:
(df[nombre_columna]==condicion).sum()

4771

In [17]:
# Cuántas filas y columnas tienen?
print(df.shape)

(5960, 13)

In [18]:
# Ver cantidad de valores únicos en una columnas
nombre_columna = "BAD"
print("Cantidad de valores únicos: ", df[nombre_columna].nunique())
print("¿Cuáles son esos valores únicos?", df[nombre_columna].unique())

Cantidad de valores únicos:  2
¿Cuáles son esos valores únicos? [1 0]

In [19]:
# Ver cantidad de valores que cumplen una condición
nombre_columna = "DEROG"
condicion = 0
(df[nombre_columna]==condicion).sum()

4527

### Paréntesis: Métodos vs. Atributos

Habrán visto que a veces aplicamos al **DataFrame** comandos luego de un punto, y a veces estos terminan en un par de `()` y otras veces no.

Esto es porque aquellos que no terminan en `()`, como por ejemplo **`.shape`** o **`.index`**, son ***atributos*** del DataFrame. Es decir, se trata de propiedades asociadas al objeto.

Por otro lado, los que terminan en `()`, por ejemplo **`.head()`** o **`.sample()`**, se tratan de ***métodos*** del DataFrame. Es decir, son funciones que se aplican exclusivamente a este tipo de objetos.

## Limpieza de **`DataFrames`**

In [20]:
# El significado de la variable "DEBTINC" no está clara. Por lo que se excluye del análisis
df.drop('DEBTINC', axis=1, inplace=True)

In [21]:
df.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0
3,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0

In [22]:
# Ver si hay valores faltantes
nombre_columna = "MORTDUE"
df[nombre_columna].isnull().sum()

518

In [23]:
for col in df.columns:
    print("En la columna", col , "hay", df[col].isnull().sum(), "datos faltantes.")

En la columna BAD hay 0 datos faltantes.
En la columna LOAN hay 0 datos faltantes.
En la columna MORTDUE hay 518 datos faltantes.
En la columna VALUE hay 112 datos faltantes.
En la columna REASON hay 252 datos faltantes.
En la columna JOB hay 279 datos faltantes.
En la columna YOJ hay 515 datos faltantes.
En la columna DEROG hay 708 datos faltantes.
En la columna DELINQ hay 580 datos faltantes.
En la columna CLAGE hay 308 datos faltantes.
En la columna NINQ hay 510 datos faltantes.
En la columna CLNO hay 222 datos faltantes.

In [24]:
# Eliminar una fila con valores nulos
df.dropna(axis=0, how='any', inplace=True)

In [25]:
df.shape

(4247, 12)

A continuación creamos una nueva columna **`STATUS`** para diferenciar mejor la situación de cada solicitante.

In [26]:
df.loc[df.BAD == 1, 'STATUS'] = 'DEFAULT'
df.loc[df.BAD == 0, 'STATUS'] = 'PAID'

In [27]:
df.head()

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YOJ,DEROG,DELINQ,CLAGE,NINQ,CLNO,STATUS
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,DEFAULT
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,DEFAULT
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,DEFAULT
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,PAID
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,DEFAULT

## Continuamos con la exploración de **`DataFrames`**

### ¿Cuál es la Relación con Numpy?

Otro de los atributos que tiene un DataFrame es **`.values`**. Averigüemos de qué se trata:

In [28]:
print(df.values)

[[1 1100 25860.0 ... 1.0 9.0 'DEFAULT']
 [1 1300 70053.0 ... 0.0 14.0 'DEFAULT']
 [1 1500 13500.0 ... 1.0 10.0 'DEFAULT']
 ...
 [0 89200 54045.0 ... 0.0 15.0 'PAID']
 [0 89800 50370.0 ... 0.0 16.0 'PAID']
 [0 89900 48811.0 ... 0.0 16.0 'PAID']]

In [29]:
print(type(df.values))

<class 'numpy.ndarray'>

Y no solo el DataFrame tiene este atributo, sino otros objetos, como los índices y columnas también! Veamos un poco:

In [30]:
print(type(df.columns))
print(df.columns.values)
print(type(df.columns.values))

<class 'pandas.core.indexes.base.Index'>
['BAD' 'LOAN' 'MORTDUE' 'VALUE' 'REASON' 'JOB' 'YOJ' 'DEROG' 'DELINQ'
 'CLAGE' 'NINQ' 'CLNO' 'STATUS']
<class 'numpy.ndarray'>

A esto nos referimos cuando decimos que Pandas está construído sobre la base de Numpy!

Recuerdan que en las primeras clases habíamos visto los operadores **`and`**, **`or`** y **`not`**? En Pandas podemos usar los mismos operadores, utilizando los siguiente símbolos:

- and: **`&`**
- or: **`|`**
- not: **`~`**

Para negar una columna de *booleanos*, utilizaremos **`~`**.

In [31]:
(~(df['JOB'] == "Other")).sum()

2588

In [32]:
(df['JOB'].str.isnumeric()).sum()

0

## Máscaras sobre un **`DataFrame`**

Si queremos filtrar filas que nos interesan primero vamos a tener que generar una ***máscara*** o serie de valores con un indicador **`True`** o **`False`** para cada fila del DataFrame, donde **`True`** quedará asignado a las filas que queremos mantener:

In [33]:
# Aquí definimos una máscara
filas_mora = df['BAD'] == 1

In [34]:
filas_mora

0        True
1        True
2        True
4       False
5        True
        ...
5955    False
5956    False
5957    False
5958    False
5959    False
Name: BAD, Length: 4247, dtype: bool

Para obtener nuestro DataFrame filtrado, aplicamos esta máscara sobre nuestro DataFrame original, utilizando **`[]`**.

In [35]:
df_filtrado = df[filas_mora]
print('Shape df          ', df.shape)
print('Shape df_filtrado  ', df_filtrado.shape)
print('Filas eliminadas       ', df.shape[0]-df_filtrado.shape[0])

Shape df           (4247, 13)
Shape df_filtrado   (840, 13)
Filas eliminadas        3407

## Operaciones y Estadísticas Sobre los Datos de un **`DataFrame`**

Veamos algunas operaciones que podemos realizar con DataFrames y cómo obtener estadísticas sobre los datos.

In [36]:
# Frecuencia de variables BAD
df['BAD'].value_counts()

0    3407
1     840
Name: BAD, dtype: int64

In [37]:
df['JOB'].value_counts()

Other      1659
ProfExe    1106
Office      693
Mgr         583
Self        132
Sales        74
Name: JOB, dtype: int64

Si queremos conocer la frecuencia de moras según el trabajo, por ejemplo, podemos utilizar un método que nos permite agrupar por claves, **`.groupby()`**. Veamos cómo se utiliza:

In [38]:
mora_segun_trabajo = df.groupby(
    by = ['JOB'],
    as_index = False
    )['BAD'].count().sort_values(['BAD'], ascending = False)

mora_segun_trabajo

       JOB   BAD
2    Other  1659
3  ProfExe  1106
1   Office   693
0      Mgr   583
5     Self   132
4    Sales    74

In [39]:
mora_segun_trabajo_y_antig = df.groupby(
    by = ['JOB', 'YOJ'],
    as_index = False
    )['BAD'].count().sort_values(['BAD'], ascending = False)

mora_segun_trabajo_y_antig.head(10)

         JOB  YOJ  BAD
97     Other  0.0  148
107    Other  1.0  117
112    Other  2.0  106
118    Other  4.0   96
121    Other  5.0   91
191  ProfExe  6.0   83
114    Other  3.0   81
125    Other  6.0   77
133    Other  9.0   76
186  ProfExe  4.0   76

Otra forma...

In [40]:
mora_segun_trabajo_porcentaje = df.groupby(
    by = ['JOB'],
    )['BAD'].value_counts(normalize=True).to_frame().style.format("{:.1%}")

mora_segun_trabajo_porcentaje

In [41]:
df['MORTDUE'].mean()

74572.23175653402

A continuación, veamos cómo podemos cambiar el nombre de una columna

In [42]:
df.rename(columns= {"YOJ": "YEAR OF JOB"}, inplace=True)
df

,BAD,LOAN,MORTDUE,VALUE,REASON,JOB,YEAR OF JOB,DEROG,DELINQ,CLAGE,NINQ,CLNO,STATUS
0,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,DEFAULT
1,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,DEFAULT
2,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,DEFAULT
4,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,PAID
5,1,1700,30548.0,40320.0,HomeImp,Other,9.0,0.0,0.0,101.466002,1.0,8.0,DEFAULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5955,0,88900,57264.0,90185.0,DebtCon,Other,16.0,0.0,0.0,221.808718,0.0,16.0,PAID
5956,0,89000,54576.0,92937.0,DebtCon,Other,16.0,0.0,0.0,208.692070,0.0,15.0,PAID
5957,0,89200,54045.0,92924.0,DebtCon,Other,15.0,0.0,0.0,212.279697,0.0,15.0,PAID
5958,0,89800,50370.0,91861.0,DebtCon,Other,14.0,0.0,0.0,213.892709,0.0,16.0,PAID
5959,0,89900,48811.0,88934.0,DebtCon,Other,15.0,0.0,0.0,219.601002,0.0,16.0,PAID

Veamos algunos estadísticos sobre este DataFrame, utilizando el método **`.describe()`**

In [43]:
df.describe()

,BAD,LOAN,MORTDUE,VALUE,YEAR OF JOB,DEROG,DELINQ,CLAGE,NINQ,CLNO
count,4247.000000,4247.000000,4247.000000,4247.000000,4247.00000,4247.000000,4247.000000,4247.000000,4247.000000,4247.000000
mean,0.197787,18509.700965,74572.231757,105635.377725,9.02284,0.217801,0.400283,177.292255,1.173534,22.125500
std,0.398377,10912.687784,45212.202449,55295.021767,7.53081,0.762328,1.057633,83.521478,1.672356,9.608641
min,0.000000,1100.000000,2619.000000,12500.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,11200.000000,47567.285000,69415.000000,3.00000,0.000000,0.000000,116.093305,0.000000,16.000000
50%,0.000000,16300.000000,65298.000000,92582.000000,7.00000,0.000000,0.000000,172.500000,1.000000,21.000000
75%,0.000000,23400.000000,91002.000000,121769.500000,13.00000,0.000000,0.000000,227.205389,2.000000,27.000000
max,1.000000,89900.000000,399412.000000,512650.000000,41.00000,10.000000,15.000000,1168.233561,13.000000,65.000000

Estadísticas descriptivas de préstamos PAGADOS

In [44]:
df[df['BAD']==0].drop('BAD', axis=1).describe().style.format("{:.2f}")

Estadísticas descriptivas de préstamos INCUMPLIDOS

In [45]:
df[df['BAD']==1].drop('BAD', axis=1).describe().style.format("{:.2f}")